backend/ACR/.terraform.lock.hcl
backend/ACR/.terraform/terraform.tfstate
backend/ACR/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
backend/VNET/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
backend/VNET/.terraform/terraform.tfstate
backend/VNET/.terraform.lock.hcl
backend/LogAnalytics/.terraform.lock.hcl
backend/LogAnalytics/.terraform/terraform.tfstate
backend/LogAnalytics/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
